<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>{{page-title}}</title>
    {{> head }}
  </head>
  <body>
    {{> header}}
    <div class="container">
      {{> body}}
    </div>
    {{> footer}}
  </body>
</html>